services:
  - type: web
    name: waha
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: WAHA_API_KEY
        value: a1b2c3d4e5f6078901234567890abcdef
      - key: WAHA_DASHBOARD_USERNAME
        value: admin
      - key: WAHA_DASHBOARD_PASSWORD
        value: a1b2c3d4e5f6078901234567890abcdef
