services:
  - type: web
    name: waha
    env: docker
    dockerfilePath: ./Dockerfile

    envVars:
      # --- WAHA CONFIG ---
      - key: WAHA_API_KEY
        value: a1b2c3d4e5f6078901234567890abcdef

      - key: WAHA_DASHBOARD_USERNAME
        value: admin
      - key: WAHA_DASHBOARD_PASSWORD
        value: a1b2c3d4e5f6078901234567890abcdef

      # --- CHROMIUM FIX FOR RENDER ---
      - key: CHROME_ARGS
        value: --no-sandbox --disable-setuid-sandbox --disable-dev-shm-usage

      # --- SUPABASE STORAGE CONFIG ---
      - key: WAHA_SESSION_STORAGE
        value: supabase

      - key: SUPABASE_URL
        value: https://bozwvhpvrgumbzzjuuls.supabase.co

      - key: SUPABASE_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvend2aHB2cmd1bWJ6emp1dWxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyMDcxNjUsImV4cCI6MjA3OTc4MzE2NX0.v1dZ_DEzS2JW-AgVlpFV7e9vm-9vUEWYymfoxzO8b70

      # WAHA necesita una ruta para los archivos temporales antes de subirlos a Supabase
      - key: WAHA_SESSION_DATA_PATH
        value: /data
